<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Main">
			<directory prefix="test-" suffix=".php">/app/tests/</directory>
		</testsuite>
		<testsuite name="Access">
			<directory prefix="test-" suffix=".php">/appTwo/tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
