
table { border-collapse: collapse; }

th, td { padding: 5px; }

th { border: 2px solid #999; background-color: #eee; vertical-align: bottom; }

td { border-bottom: 1px solid #ccc; border:1px solid #000;}

/*table.striped tbody tr:nth-child(even) { background-color: #f0f8ff; }*/ /*auto striping gets messed up with hidden rows*/
tr.striped { background-color: #f0f8ff; }

/* filter-table specific styling */
td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }

td.hidden { display:none; }

.red {background:red}

.mz_add_to_class { cursor:pointer; }

.mz-modal {
    background-color: #fff;
}

.filter-table {
    a {
      margin-right:.5em;
      margin-left:.5em;
    }
}

.mz_quick_filter {
    margin-right:.5em;
    margin-left:.5em;
}

.mz-staff-thumb {
  height: 240px;
  margin-bottom: 1rem;
}

.mz-staff-name{
    text-align: center;
}

.mz-staffImage {
    max-width: 33%;
    height: auto;
    float:left;
    margin-right:.8rem;
}

#ModalRegistrants {
    border: 2px solid blue;
}

#ClassRegistrants {
    ul {
      list-style-type: none;
    }
}